body {
  font-family: Arial, sans-serif;
}

header {
  background: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
}

.linkBtn {
  background-color: transparent;
  color: blue;
  outline: none;
  border: none;
  padding-left: 20px;
}